.clock {
  font-family: "Varela Round", monospace;
  font-size: 6vw;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: #eee;
  margin: 0;
}

@media (max-width: 768px) {
  .clock {
    font-size: 9vw;
  }
}
