.h2 {
  font-family: "Varela Round";
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: #eee;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 2rem;
  }
}
